coverage.html
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.swp
*.swo

# Webstorm Settings
.idea/*
!.idea/inspectionProfiles
!.idea/jsLinters

# Istanbul Output
coverage/

# NPM Dependencies
node_modules/
/.project
/dist